<!-- landing-page.component.html -->
<div class="page-container">
  <div class="content-card">

    <!-- En-tête -->
    

    <!-- Message principal en arabe -->
    <div class="message-block" dir="rtl">
      <p class="message-title">نحيطكم علمًا بأنّ العمّال المذكورين أسفله مُعنيّون بالعمل خلال الفترة الصباحية، وذلك من الساعة السادسة صباحًا إلى الساعة الثانية بعد الزوال، وذلك لمدّة محدّدة</p>
      <p class="message-note">ابتداء من الخميس 2 افريل 2026 </p>
    </div>

    <!-- Tableau des employés -->
    <div class="table-wrapper">
      <table class="employees-table">
        <thead>
          <tr>
            <th>Mat</th>
            <th>NOM</th>
            <th>PRÉNOM</th>
            <th>F.</th>
            <th>S.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1490</td>
            <td>BOUZIDI</td>
            <td>Hamida</td>
            <td>OUV</td>
            <td>PRD</td>
          </tr>
          <tr>
            <td>1491</td>
            <td>ABID</td>
            <td>Nihed</td>
            <td>OUV</td>
            <td>PRD</td>
          </tr>
          <tr>
            <td>1495</td>
            <td>BENKHLIFA</td>
            <td>Farah</td>
            <td>OUV</td>
            <td>PRD</td>
          </tr>
          <tr>
            <td>1497</td>
            <td>CHHIBA</td>
            <td>Imen</td>
            <td>OUV</td>
            <td>PRD</td>
          </tr>
          <tr>
            <td>1499</td>
            <td>MONCER</td>
            <td>Rania</td>
            <td>OUV</td>
            <td>PRD</td>
          </tr>
          <tr>
            <td>1502</td>
            <td>Hamed</td>
            <td>Fedia</td>
            <td>OUV</td>
            <td>PRD</td>
          </tr>
         
        </tbody>
      </table>
    </div>

    <!-- Pied de page -->
    <div class="footer-note">
      <p class="footer-text"> Ressources Humaines</p>
      <p class="footer-sub"></p>
    </div>

  </div>
</div>